/* Header */
.large-header {
    position: relative;
    width: 100%;
    background: #333;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

#large-header {
    background-image: url("https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg");
    z-index: 1;
}

#mySidebar {
    z-index: 999999 !important;
    background-color: transparent;
    background: rgba(98, 145, 173, 0.3);

}

[src=''] {
    visibility: hidden;
}

.bottom-options {
    margin-top: 200px;
    z-index: 999999 !important;
}

.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top: 50%;
    left: 40%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    z-index: 99999999 !important;
}

.demo-1 .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
}

.main-title .thin {
    font-weight: 200;
}

@media only screen and (max-width: 768px) {
    .demo-1 .main-title {
        font-size: 3em;
    }
}

.room-status2:hover {
    background-color: white;

}

button.room-status2 {
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: lightgray;
    width: 130px;
    height: 50px;
    bottom: 15px;
    border-radius: 10px;
    margin-left: 95px;
    margin-bottom: 15px;
    margin-top: 40px;

}

#exit {
    background-color: cornflowerblue;
}

#start-btn {
    position: relative;
    margin-top: -100px;
    background-color: crimson;
    opacity: 50%;
}

.room-status:hover {
    background-color: white;

}

button.room-status {
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: #ccccff;
    opacity: 20%;
    width: 300px;
    height: 75px;
    border-radius: 10px;
    margin-left: 0px;
    margin-bottom: 15px;
    margin-top: 50px;

}

.slider.round {
    border-radius: 34px;
}

#toggle-event {
    margin-left: 40px;
}

.slider.round:before {
    border-radius: 50%;
}

.card-img-right.flex-auto.d-none.d-lg-block {
    height: 200px;
    width: 200px;
    border-radius: 0 30px 30px 0;

}

#search-user-button {
    width: 400px;
    height: 40px;
    margin-top: 30px;
}

.card.flex-md-row.mb-4.shadow-sm.h-md-250 {
    width: 250px;
    height: 200px;
    border-radius: 30px;
    background-color: lightgrey;
}

.col-md-4 {
    margin-top: 0px;

    margin-right: 110px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 20px;
    margin-left: 150px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
    color: red;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    color: red;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    color: red;
}

.card-img-right {
    height: 200px;
    width: 150px;
    border-radius: 0 30px 30px 0;

}

#vs {
    font: "Helvetica", sans-serif;
    font-style: italic;
    font-weight: bold;;
    font-size: 60px;
    margin-left: 10px;
}

.user-status {
    font-style: initial;
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

#left-person-card-1 {
    margin-left: 30px;

}

#left-person-card-2 {
    margin-left: 200px;

}

#left-person-card-3 {
    margin-left: 30px;

}

#left-person-card-4 {
    margin-left: 200px;

}

#search-user:hover {
    background-color: white;

}

#search-user {
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: lightgrey;
    width: 400px;
    height: 50px;
    border-radius: 10px;
}

#invitation-content {
    width: 400px;
    height: 80px;

}

.notification-envelop:hover {
    background-color: white;

}

.notification-envelop {
    margin-left: 90px;
    width: 140px;
    height: 60px;
    margin-top: -180px;
    background-color: lightgrey;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 10px;

}

.invitationModal-div {

    margin-bottom: 20px;
}

#invitationModal {
    z-index: 99999 !important;
}

.personal-photo-hyperlink:hover {
    background-color: white;
}

.personal-photo-hyperlink {
    background-color: lightgrey;
    transition-duration: 0.5s;
    cursor: pointer;
}

.room-active-user {
    margin-top: 50px;
    margin-left: 90px;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 15px;
}

.modal-dialog {

    top: 10%;
}

*:focus {
    outline: none;
}

.each_source_right {
    margin-bottom: 4px;
    margin-right: 15px;
    margin-left: 5px;
    border-radius: 15px;
    width: 30px;
    height: 35px;
}

.select-user1:hover {
    background-color: white;
}

.select-user1 {
    background-color: lightgrey;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 10px;
}

#invitation-content {
    outline: none;
    border-radius: 15px;
}

button {
    border: none;
    outline: none;

}

button:focus {
    border: none;
    outline: none;

}

input[type="button"] {
    outline: none;
}

input[type="button"]::-moz-focus-inner {
    border: 0;
}

#gif {
    width: 100px;
}

.heading-hint {
    margin-left: 35%;
    margin-bottom: 10%;
}

.middle-img {

    margin-left: 40%;

}

#back-to-community {
    margin-top: 10%;
    margin-left: 40%;
    color: #333333;
}

.user-img-indicator {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 15px;
}

.w3-sidebar.w3-bar-block.w3-collapse.w3-card.w3-animate-right {
    width: 300px;
    right: 0;
}

.w3-main {
    margin-right: 50px;
}